1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system'
print(test1)

with open('test.txt','w') as file:
    file.write(test1)
    file.close()

This is a test of the emergency text system

In [2]:
! type test.txt

This is a test of the emergency text system

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [3]:
with open('test.txt','r') as file:
    test2 = file.read()
    
print(test2)   
print(test1 == test2)

This is a test of the emergency text system
True

3. Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [4]:
data = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

with open('books.csv','w') as file:
    file.write(data)
    file.close()

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [5]:
import sqlite3

db = sqlite3.connect('books.db')
cursor = db.cursor()
cursor.execute("CREATE TABLE books(title text, author text , yesr int)")
db.commit()
db.close

OperationalError: table books already exists

5. Read books.csv and insert its data into the books table.

In [ ]:
import sqlite3
import csv
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
    
with open('books.csv','r') as file:
    books = csv.DictReader(file)
    for i in books:
        cursor.execute("INSERT INTO books VALUES (?,?,?)",( i['title'],i['author'],i['year']))
conn.commit()        
conn.close

6. Select and print the title column from the books table in alphabetical order.

In [6]:
import sqlite3

con = sqlite3.connect('books.db')
cursor = con.cursor()
output = cursor.execute("SELECT title FROM books ORDER BY title ASC")
for i in output :
    print(i[0])
con.commit()
con.close()

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!

7. From the books table, select and print all columns in the order of publication.

import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
output = cursor.execute("SELECT * FROM books ORDER BY year")

for i in output:
    print(i)

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [9]:
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
conn

Engine(sqlite:///books.db)

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [10]:
! python -m pip install redis

Collecting redis
  Downloading redis-4.4.0-py3-none-any.whl (236 kB)
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Installing collected packages: async-timeout, redis
  Attempting uninstall: async-timeout
    Found existing installation: async-timeout 4.0.1
    Uninstalling async-timeout-4.0.1:
      Successfully uninstalled async-timeout-4.0.1
Successfully installed async-timeout-4.0.2 redis-4.4.0

In [ ]:
import redis
conn = redis.Redis()
conn.hset('test',{'count':1,'name':'Fester Bestertester'})
conn.hgetall('test')

10. Increment the count field of test and print it.

In [ ]:
conn.hincrby('test', 'count', 1)
conn.hget('test', 'count')