Question1
Write a function that takes a list and a number as arguments. Add the number to the end of
the list, then remove the first element of the list. The function should then return the updated
list.
Examples
next_in_line([5, 6, 7, 8, 9], 1) ➞ [6, 7, 8, 9, 1]
next_in_line([7, 6, 3, 23, 17], 10) ➞ [6, 3, 23, 17, 10]
next_in_line([1, 10, 20, 42 ], 6) ➞ [10, 20, 42, 6]
next_in_line([], 6) ➞ &quot;No list has been selected&quot;

In [3]:
def list_num(lst,num):
    if len(lst) > 1 :
        lst.append(num)
        lst.remove(lst[0])
        return lst
    else :
        print("Your list should contain more than 1 element in it")

In [4]:
list_num([2,3,4,5,6,7],9)

[3, 4, 5, 6, 7, 9]

Question2
Create the function that takes a list of dictionaries and returns the sum of people's budgets.
Examples:
get_budgets([ { "name": "John", "age": 21, "budget": 23000 }, { "name": "Steve", "age": 32, "budget": 40000 }, { "name": "Martin", "age": 16, "budget": 2700 } ]) ➞ 65700

get_budgets([ { "name": "John", "age": 21, "budget": 29000 }, { "name": "Steve", "age": 32, "budget": 32000 }, { "name": "Martin", "age": 16, "budget": 1600 } ]) ➞ 62600

In [5]:
def total_budget(lst):
    sum=0
    for i in lst:
        sum = sum + i['budget']
    return sum

In [6]:
total_budget([{'name':'mitzz','budget':3000},{"name": "aman", "budget":2000}])

5000

Question3
Create a function that takes a string and returns a string with its letters in alphabetical order.
Examples:
alphabet_soup("hello") ➞ "ehllo"
alphabet_soup("edabit") ➞ "abdeit"
alphabet_soup("hacker") ➞ "acehkr"
alphabet_soup("geek") ➞ "eegk"
alphabet_soup("javascript") ➞ "aacijprstv"

In [16]:
def string_alpha(string):
    for i in string.split():
        str1=sorted(i)
        str2=''.join(str1)
    return str2

In [17]:
string_alpha('lakhan')

'aahkln'

Question4
What will be the value of your investment at the end of the 10 year period?
Create a function that accepts the principal p, the term in years t, the interest rate r, and the number of compounding periods per year n. The function returns the value at the end of term rounded to the nearest cent.

For the example above:
compound_interest(10000, 10, 0.06, 12) ➞ 18193.97
Note that the interest rate is given as a decimal and n=12 because with monthly compounding there are 12 periods per year. Compounding can also be done annually, quarterly, weekly, or daily.

Examples:
compound_interest(100, 1, 0.05, 1) ➞ 105.0
compound_interest(3500, 15, 0.1, 4) ➞ 15399.26
compound_interest(100000, 20, 0.15, 365) ➞ 2007316.26

In [18]:
def compound_interest(p,t,r,n):    #(principal,years,rate,period)
    CompoundInterest=p*(1+(r/n))**(n*t)
    return CompoundInterest

In [21]:
compound_interest(50000,10,0.12,1)  #period is annually so n=1

155292.4104172106

In [22]:
compound_interest(50000,10,0.12,4)  #period is quartly so n=4

163101.8895999539

In [23]:
compound_interest(50000,10,0.12,6)  #period is half-yearly so n=6

164051.53941827072

Question4
Write a function that takes a list of elements and returns only the integers.
Examples:
return_only_integer([9, 2, "space", "car", "lion", 16]) ➞ [9, 2, 16]
return_only_integer(["hello", 81, "basketball", 123, "fox"]) ➞ [81, 123]
return_only_integer([10, "121", 56, 20, "car", 3, "lion"]) ➞ [10, 56, 20,3]
return_only_integer(["String", True, 3.3, 1]) ➞ [1]

In [45]:
def int_list(lst):
    lst1=[]
    for i in range(0,len(lst)):
        if type(i)==int:
            lst1.append(i) 
    print('List of the Integers in the given list is : ' ,lst1 )

In [46]:
int_list([2,3,'low',23,'honey',93,'ravan',4993])

List of the Integers in the given list is :  [0, 1, 2, 3, 4, 5, 6, 7]